-- $Id: loader.tmpl,v 1.3 2004/06/08 13:01:30 tomas Exp $
if not (luasql or luasql.DRIVER) and loadlib then
	local libname = "LIB_NAME"
	local libopen = "luaopen_luasql_DRIVER"
	local init, err1, err2 = loadlib (libname, libopen)
	assert (init, (err1 or '')..(err2 or ''))
	init ()
end
